openapi: 3.0.0
info:
  version: 1.0.0
  title: Customer Centre
servers:
  - url: http://screwfix.com/v1/
tags:
  - name: customer
    description: Customer related operation
  - name: customerOrder
    description: Operations related to order
  - name: organization
    description: Operations for organization management
  - name: product
    description: Operations for product data
  - name: other
    description: Other operations
paths:
  /product/search:
    get:
      tags:
        - product
      summary: Search for products
      operationId: searchProducts
      parameters: []
      responses:
        '200':
          description: An array of Organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /product/{productId}:
    get:
      tags:
        - product
      summary: Get product details
      operationId: productById
      parameters:
        - name: productId
          in: path
          required: true
          description: The id of the product
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /product/{productId}/availability:
    get:
      tags:
        - product
      summary: Get product availability
      operationId: productAvailability
      parameters:
        - name: productId
          in: path
          required: true
          description: The id of the product
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /product/{productId}/recommendation:
    get:
      tags:
        - product
      summary: Get product recommendations
      operationId: productRecommendations
      parameters:
        - name: productId
          in: path
          required: true
          description: The id of the product
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Products'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /address/search:
    get:
      tags:
        - other
      summary: Search for addresses
      operationId: searchAddresses
      parameters: []
      responses:
        '200':
          description: An array of Addresses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Customer:
      type: object
      properties: {}
    Customers:
      type: array
      items:
        $ref: '#/components/schemas/Customer'
    Address:
      type: object
      properties: {}
    Addresses:
      type: array
      items:
        $ref: '#/components/schemas/Address'
    Card:
      type: object
      properties: {}
    Note:
      type: object
      properties: {}
    Notes:
      type: array
      items:
        $ref: '#/components/schemas/Note'
    Organization:
      type: object
      properties: {}
    Organizations:
      type: array
      items:
        $ref: '#/components/schemas/Organization'
    Credit:
      type: object
      properties: {}
    Credits:
      type: array
      items:
        $ref: '#/components/schemas/Credit'
    Order:
      type: object
      properties: {}
    Orders:
      type: array
      items:
        $ref: '#/components/schemas/Order'
    Return:
      type: object
      properties: {}
    Returns:
      type: array
      items:
        $ref: '#/components/schemas/Return'
    Promotion:
      type: object
      properties: {}
    Promotions:
      type: array
      items:
        $ref: '#/components/schemas/Promotion'
    Product:
      type: object
      properties: {}
    Products:
      type: array
      items:
        $ref: '#/components/schemas/Product'
    DeliveryOption:
      type: object
      properties: {}
    DeliveryOptions:
      type: array
      items:
        $ref: '#/components/schemas/DeliveryOption'
    Branch:
      type: object
      properties: {}
    Branches:
      type: array
      items:
        $ref: '#/components/schemas/Branch'
    ShippingMethod:
      type: object
      properties: {}
    ShippingMethods:
      type: array
      items:
        $ref: '#/components/schemas/ShippingMethod'
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
