openapi: 3.0.0
info:
  version: 1.0.0
  title: Customer Centre
servers:
  - url: http://screwfix.com/v1/
tags:
  - name: customer
    description: Customer related operation
  - name: customerOrder
    description: Operations related to order
  - name: organization
    description: Operations for organization management
  - name: tradeCounter
    description: Trade counter management
paths:
  /customer/{customerId}/card:
    post:
      tags:
        - customer
      summary: Create card for user
      operationId: createCustomerCard
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/card/{cardId}:
    get:
      tags:
        - customer
      summary: Get user card details
      operationId: getCustomerCard
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: cardId
          in: path
          required: true
          description: The id of the card
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - customer
      summary: Update card for user
      operationId: updateCustomerCard
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: cardId
          in: path
          required: true
          description: The id of the card
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - customer
      summary: Delete card from user
      operationId: deleteCustomerCard
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: cardId
          in: path
          required: true
          description: The id of the card
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/card/{cardId}/checkExpiration:
    get:
      tags:
        - customer
      summary: Get card expiration
      operationId: getCardExpiration
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: cardId
          in: path
          required: true
          description: The id of the card
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/note:
    get:
      tags:
        - customer
      summary: Get notes for user
      operationId: getCustomerNotes
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
      responses:
        '200':
          description: An array of notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notes'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - customer
      summary: Create note for user
      operationId: createCustomerNote
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/note/{noteId}:
    put:
      tags:
        - customer
      summary: Update note for user
      operationId: updateCustomerNote
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: noteId
          in: path
          required: true
          description: The id of the note
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - customer
      summary: Delete note from user
      operationId: deleteCustomerNote
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: noteId
          in: path
          required: true
          description: The id of the note
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/credit:
    get:
      tags:
        - customer
      summary: Get credits for user
      operationId: getCustomerCredits
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
      responses:
        '200':
          description: An array of credits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credits'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - customer
      summary: Create credit for user
      operationId: createCustomerCredit
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credit'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/credit/{creditId}:
    put:
      tags:
        - customer
      summary: Update credit for user
      operationId: updateCustomerCredit
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: creditId
          in: path
          required: true
          description: The id of the credit
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Credit'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - customer
      summary: Delete credit from user
      operationId: deleteCustomerCredit
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: creditId
          in: path
          required: true
          description: The id of the credit
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/address/{addressId}:
    delete:
      tags:
        - customer
      summary: Delete address from user
      operationId: deleteCustomerAddress
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: addressId
          in: path
          required: true
          description: The id of the address to remove
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/organization:
    get:
      tags:
        - customer
      summary: Get organizations for user
      operationId: getCustomerOrganizations
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
      responses:
        '200':
          description: An array of organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizations'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/organization/{organizationId}:
    delete:
      tags:
        - customer
      summary: Delete organization from user
      operationId: deleteCustomerOrganization
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/order/{orderId}/changeCustomer:
    put:
      tags:
        - customerOrder
      summary: Update customer for order
      operationId: changeCustomerForOrder
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          description: The id of the order
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/order/{orderId}/release:
    put:
      tags:
        - customerOrder
      summary: Release order
      operationId: releaseOrder
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          description: The id of the order
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/order/{orderId}/note:
    get:
      tags:
        - customerOrder
      summary: Get notes for order
      operationId: getOrderNotes
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          description: The id of the order
          schema:
            type: string
      responses:
        '200':
          description: An array of notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notes'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - customerOrder
      summary: Create note for order
      operationId: createOrderNote
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          description: The id of the order
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /customer/{customerId}/order/{orderId}/note/{noteId}:
    put:
      tags:
        - customerOrder
      summary: Update note for order
      operationId: updateOrderNote
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          description: The id of the order
          schema:
            type: string
        - name: noteId
          in: path
          required: true
          description: The id of the order
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - customerOrder
      summary: Delete note from order
      operationId: deleteOrderNote
      parameters:
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
        - name: orderId
          in: path
          required: true
          description: The id of the order
          schema:
            type: string
        - name: noteId
          in: path
          required: true
          description: The id of the order
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization:
    post:
      tags:
        - organization
      summary: Create organization
      operationId: createOrganization
      parameters: []
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization/search:
    get:
      tags:
        - organization
      summary: Search for organizations
      operationId: searchOrganizations
      parameters: []
      responses:
        '200':
          description: An array of Organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organizations'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization/{organizationId}:
    get:
      tags:
        - organization
      summary: Get organization details
      operationId: organizationById
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - organization
      summary: Update organization details
      operationId: updateOrganization
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - organization
      summary: Remove organization
      operationId: removeOrganization
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization/{organizationId}/address:
    post:
      tags:
        - organization
      summary: Create address for organization
      operationId: createOrganizationAddress
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization/{organizationId}/address/{addressId}:
    get:
      tags:
        - organization
      summary: Get organization address details
      operationId: getOrganizationAddress
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
        - name: addressId
          in: path
          required: true
          description: The id of the address
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      tags:
        - organization
      summary: Update address for organization
      operationId: updateOrganizationAddress
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
        - name: addressId
          in: path
          required: true
          description: The id of the address
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization/{organizationId}/note:
    get:
      tags:
        - organization
      summary: Get notes for organization
      operationId: getOrganizationNotes
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
      responses:
        '200':
          description: An array of notes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notes'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - organization
      summary: Create note for organization
      operationId: createOrganizationNote
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization/{organizationId}/note/{noteId}:
    put:
      tags:
        - organization
      summary: Update note for organization
      operationId: updateOrganizationNote
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
        - name: noteId
          in: path
          required: true
          description: The id of the note
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - organization
      summary: Delete note from organization
      operationId: deleteOrganizationNote
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
        - name: noteId
          in: path
          required: true
          description: The id of the note
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization/{organizationId}/customer:
    get:
      tags:
        - organization
      summary: Get customers for organization
      operationId: getOrganizationCustomers
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
      responses:
        '200':
          description: An array of organizations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customers'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /organization/{organizationId}/customer/{customerId}:
    delete:
      tags:
        - organization
      summary: Delete customer from organization
      operationId: deleteOrganizationCustomer
      parameters:
        - name: organizationId
          in: path
          required: true
          description: The id of the organization
          schema:
            type: string
        - name: customerId
          in: path
          required: true
          description: The id of the customer
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /tradeCounter/message:
    post:
      tags:
        - tradeCounter
      summary: Create trade counter message
      operationId: createTcMessage
      parameters: []
      responses:
        '200':
          description: Message creation status
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Address:
      type: object
      properties: {}
    Addresses:
      type: array
      items:
        $ref: '#/components/schemas/Address'
    Card:
      type: object
      properties: { }
    Credit:
      type: object
      properties: {}
    Credits:
      type: array
      items:
        $ref: '#/components/schemas/Credit'
    Customer:
      type: object
      properties: {}
    Customers:
      type: array
      items:
        $ref: '#/components/schemas/Customer'
    Note:
      type: object
      properties: {}
    Notes:
      type: array
      items:
        $ref: '#/components/schemas/Note'
    Order:
      type: object
      properties: {}
    Orders:
      type: array
      items:
        $ref: '#/components/schemas/Order'
    Organization:
      type: object
      properties: {}
    Organizations:
      type: array
      items:
        $ref: '#/components/schemas/Organization'
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string